{% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
<div>
  <p class="text-muted">Выбор альбомов, которые вы планируете собрать.
    Эти настройки существенно влияют на советы по крафту. Подробная
    информация на странице
    <a href="{% url 'about:about' %}" class="my-link">О приложении</a>
  </p>
</div>
<div class="form-check form-switch" style="margin-bottom: 10px;">
  <input class="form-check-input" type="checkbox" id="toggle" name="toggle"
  {% if form.initial.toggle %}checked{% endif %}>
  <label class="form-check-label" for="toggle">
    Выбрать альбомы. (По умолчанию расчет производится для всех.)
  </label>
</div>
<div class="d-flex flex-row">
  <div class="form-check" style="margin-right: 10px;">
    <input class="form-check-input" type="checkbox" id="national" name="national"
    {% if form.initial.national %}checked{% endif %}>
    <label class="form-check-label" for="national">
      Отечественный
    </label>
  </div>
  <div class="form-check" style="margin-right: 10px;">
    <input class="form-check-input" type="checkbox" id="eastern" name="eastern"
    {% if form.initial.eastern %}checked{% endif %}>
    <label class="form-check-label" for="eastern">
      Восточный
    </label>
  </div>
  <div class="form-check" style="margin-right: 10px;">
    <input class="form-check-input" type="checkbox" id="magic" name="magic"
    {% if form.initial.magic %}checked{% endif %}>
    <label class="form-check-label" for="magic">
      Сказочный
    </label>
  </div>
  <div class="form-check" style="margin-right: 10px;">
    <input class="form-check-input" type="checkbox" id="christmas" name="christmas"
    {% if form.initial.christmas %}checked{% endif %}>
    <label class="form-check-label" for="christmas">
      Рождество
    </label>
  </div>
  <button type="submit" class="btn btn-primary btn-sm"
    style="margin-right: 10px; margin-top: -5px;">Применить настройки</button>
</div>
</form>
<script>
  function toggleCheckboxes() {
    const toggleCheckbox = document.getElementById('toggle');
    const disabledCheckboxes = document.querySelectorAll('.form-check-input:not(#toggle)');
    if (toggleCheckbox.checked) {
      disabledCheckboxes.forEach(function (checkbox) {
        checkbox.removeAttribute('disabled');
      });
    } else {
      disabledCheckboxes.forEach(function (checkbox) {
        checkbox.setAttribute('disabled', 'disabled');
      });
    }
  }
  toggleCheckboxes(); // Вызываем функцию после загрузки страницы
  const toggleCheckbox = document.getElementById('toggle');
  toggleCheckbox.addEventListener('change', function () {
    toggleCheckboxes();
  });
</script>
{% endif %}