{% if user.is_authenticated %}
  <div>
    <h5>
      Полностью случайный крафт 5 лвл. <span class="text-muted"
      style="font-size: smaller;">(рассчитан по вашим данным)</span>
    </h5>
    <table class="table table-success caption-top">
      <caption>
        Вероятность крафта игрушки 5 лвл. в случайной коллекции и случайной
        категории. И ожидаемое количество осколков которые в среднем понадобятся
        для такого крафта. <strong>В большинстве случаев именно случайный крафт самый
        выгодный с точки зрения расхода осколков,</strong> т.к. он самый дешевый и разбивая
        неудачный дубликат игрушки, вы возвращаете большую часть осколков.
        Но рандом есть рандом - может и не повезти.
      </caption>
      <thead>
        <tr>
          <th scope="col">Вероятность (%)</th>
          <th scope="col">Осколки</th>
        </tr>
      </thead>
        <tr>
          <td class="table-warning">
            {{ user_result.all_random_craft.chance|floatformat:0 }}
          </td>
          <td class="table-warning">
            {% if user_result.all_random_craft.average_fragments_num|floatformat:0 == 'inf' %}
              Собран весь 5 лвл. Поздравляю!
            {% else %}
              {{ user_result.all_random_craft.average_fragments_num|floatformat:0 }}
            {% endif %}
          </td>
        </tr>
    </table>
  </div>
{% endif %}