{% extends 'base.html' %}

{% block title %}
Новогодний калькулятор
{% endblock %}

{% block content %}
{% load user_filters %}
<div class="container py-5 col-md-6">
  <div class="p-3">
    {% include 'recommendations/includes/album_select.html' %}
    <hr>
  </div>
  <div class="p-3">
    {% include 'recommendations/includes/advice.html' %}
  </div>
  <div class="container col-md-6">
    {% include 'recommendations/includes/random_table.html' %}
  </div>
  <div class="container col-md-6">
    {% include 'recommendations/includes/chance_table.html' %}
  </div>
  <div class="container py-5 col-md-6">
    {% include 'recommendations/includes/fragments_table.html' %}
    <div class="d-flex justify-content-center">
      {% if request.META.HTTP_REFERER == none %}
      <a href="{% url 'calc:national' %}" class="btn btn-primary">К коллекциям</a>
      {% else %}
      <a href="{{ request.META.HTTP_REFERER}}" class="btn btn-primary">К коллекциям</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}