{% extends "base.html" %}
{% block title %}О приложении{% endblock %}
{% block content %}
<style type="text/css">
  h1 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  p {
    font-size: 17px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>О приложении</h2>
    </div>
  </div>
  <hr>
</div>
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
      <p>
        Краткая информация о приложении.
      </p>
      <p>
        Это приложение предназначено для помощи в оптимальном крафте ёлочных украшений 5-го лвл.
        в новогоднем событии "Наш Новый год" в <a href="https://tanki.su/" target="_blank">Мире танков</a>.
        Оно рассчитывает вероятности крафта украшений для каждой категории и альбома, а также
        среднее количество осколков для крафта. Исходя из этих данных приложение
        дает совет - в какой категории и альбоме выгоднее крафтить в данный момент.
        <br><br>
        Сразу скажу, что в большинстве случаев самый выгодный крафт будет в категории случайный альбом-случайная
        коллекция. Даже если крафт там проходит не с первого раза, а со второго-третьего. Потому что крафт в этой
        категории обходится в 360 осколков, из которых 250 возвращается обратно, после того как разобьёте игрушку.
        Таким образом на один крафт расходуется 110 осколков. Если крафтить в определенной категории или
        определенном альбоме, то крафт обходится уже в 720 - 250 = 470 осколков. А если крафтить в заданной
        категории и заданном альбоме, то 1080 - 250 = 830 осколков.
        Ну а если использовать аниповторитель, то 1830 осколков.
        <br>
        А вот когда альбомы уже во многом заполнены украшениями - тогда выгодными могут быть уже
        другие варианты крафта. Программа всё это просчитывает и выдает совет, исходя из теории вероятностей.
        <br><br>
        На главной странице можно внести количество ёлочных украшений, которые у вас уже есть для каждой
        категории во всех четырёх альбомах. Если вы поменяли количество украшений в альбоме, то перед переключением
        на другой нажмите кнопку "Сохранить", чтобы игрушки записались в альбом.
        После того, как все ваши украшения внесены в альбомы - можно нажать на кнопку "Рассчитать". Приложение
        произведет расчет и откроется страница с результатами и советом по крафту.
      </p>
    </div>
  </div>
  <hr>
</div>
{% endblock %}