{% extends 'base.html' %}

{% block title %}
  Новогодний калькулятор
{% endblock %}

{% block content %}
{% load user_filters %}
  <div class="container py-5 col-md-6">     
    <h1>Новогодний калькулятор</h1>
    {% include 'calc/includes/switcher.html' %}
    {% if user.is_authenticated %}
      {% if view_name == 'calc:national' %}
        <h3>Отечественная коллекция</h3>
      {% elif view_name == 'calc:christmas' %}
        <h3>Рождественская коллекция</h3>
      {% elif view_name == 'calc:eastern' %}
        <h3>Восточная коллекция</h3>
      {% elif view_name == 'calc:magic' %}
        <h3>Сказочная коллекция</h3>
      {% endif %}
      <div class="container py-5">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="crown">Навершие:</label>
            <input type="number" class="form-control" id="crown" name="crown" min="0" max="5">
          </div>
          <div class="form-group">
            <label for="garland">Гирлянда:</label>
            <input type="number" class="form-control" id="garland" name="garland" min="0" max="5">
          </div>
          <div class="form-group">
            <label for="hanging">Подвесная:</label>
            <input type="number" class="form-control" id="hanging" name="hanging" min="0" max="5">
          </div>
          <div class="form-group">
            <label for="gift">Подарок:</label>
            <input type="number" class="form-control" id="gift" name="gift" min="0" max="5">
          </div>
          <div class="d-flex justify-content-end mt-2">
            <button type="submit" class="btn btn-primary">
                Сохранить
            </button>
          </div>
        </form>
      </div>
    {% else %}
      <a href="{% url 'users:login' %}" class="btn btn-primary">Войти</a>
      <a href="{% url 'users:signup' %}" class="btn btn-secondary">Зарегистрироваться</a>
    {% endif %}
  </div>  
{% endblock %}